{% extends "blog/base.html" %}
{% block content %}



    <div style="text-align: center;margin-top: 10px">
    <div style="border: 1px solid; margin-top: 20px; width: 100px; padding: 5px; text-align: center; border-radius: 10px">
        <a href="{% url 'post_new' %}">
            New Category
        </a>
    </div>
    <div style="border: 1px solid; margin-top: 20px; width: 100px; padding: 5px; text-align: center; border-radius: 10px">
        <a href="{% url 'post_draft' %}">
            Category non active
        </a>
    </div>

</div>
    <div class="row" style="display: inline-block;">
        <div style="width: 20%; display: inline-block;" ></div>
        <div style="width: 60%; display: inline-block;">
            <div class="row" style="margin-top: 50px">
                {% for category in categorys %}
                    {% if category.enabled == True %}

                        <div style="display: inline-block;">
                            <div style="border: 1px solid; margin-top: 20px; height: 75px; width:100%; padding: 5px">
                                <div style="text-align: center; font-size: 25px;">
                                    <a href="{% url 'category_in_list' category_id=category.id %}">{{ category.title }}</a>
                                </div>
                            </div>

                        </div>

                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div style="width: 20%; display: inline-block;">    </div>
    </div>


    <!--{{posts}}-->
{% endblock %}